<div class="text-center mb-4">
  <h1>Stupid Coaching</h1>
</div>
<form action="/answer" method="get" data-turbo="false" class="form-group">
  <label for="question">Ask your coach anything:</label>
  <input type="text" name="question" class="form-control">
  <input type="submit" value="Ask" class="btn btn-primary mt-2">
</form>
